.label {
    display: block;
    margin: 10px auto 0;
    text-align: center;
}

.textInput {
    display: flex;
    flex-direction: column;
    margin: 10px auto 0 !important;
    width: 80vw;
    height: 75vh;
    min-height: fit-content;
    resize: none;
}

@media (max-width: 600px) {
    .textInput {
        height: 70vh;
    }
}

.submitButton {
    display: block;
    margin: 20px auto 0;
    width: 200px;
    height: 30px;
    font-size: 20px;
    color: black;
    background-color: #E8E8E8;
    box-shadow: none;
    border-radius: 3px;
    border: 1px solid black;
}

.submitSpinner {
    width: 15px !important;
    height: 15px !important;
    margin-top: 5px !important;
    color: black !important;
}